{# Insere o template `layout.html` nesta página #}
{% extends "layout.html" %}

{# Bloco dentro de <article></article> de 'layout.html' #}
{% block article %}

<h2>Artigos recentes</h2>

{% for article in page.articles %}
-- Recebe a lista de artigos do banco de dados:
-- A) Somente os campos necessários
-- B) Somente artigos online
-- C) Somente artigos do presente e do passado (agendamento)
-- D) Ordenados pela data, com mais recente primeiro

-- A -- 
SELECT art_id, art_title,art_resume,art_thumbnail
		FROM 'article'
-- B -- 
WHERE art_status = 'on'
-- C -- 
	AND art_date <= NOW()
-- D --
ORDER BY art_date DESC;

    <li><a href="https://catabist.com.br">Site do Fessô</a></li>
    <li><a href="https://github.com/Luferat">Github do fessô</a></li>
</ul>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a mollitia doloribus repudiandae incidunt ullam debitis, minima iure quia, recusandae odio magnam velit quos ad nam eaque. Ut, dolorem eveniet?</p>

{% endblock%}





{# Bloco dentro de <aside></aside> #}
{% block aside %}

<!-- Conteudo fake de teste → REMOVA-ME!!!! -->
<h3>Título complementar</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

{%endblock %}